@import "../../Styles.scss";
$backgroundColor: #383838;
$backgroundColor-2: #4D4D4D;
$mainFontColor: #26466F;

.Home {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.home-body3 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  color: white;
}

.home-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 40px;
  border-radius: 10px;
}

.home-reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 65%;
  height: auto;
  border-radius: 10px;
  background-color: $mainFontColor;
  margin-bottom: 20px;
  padding: 10px;
}
.home-reviews::-webkit-scrollbar {width: 0 !important}

.review-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.home-reviews h4 {
  width: 100%;
  margin-bottom: 5px;
}

.home-reviews h3 {
  width: 100%;
  text-align: left;
  padding-left: 20px;
  margin-top: 20px;
}

.home-reviews p {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.review-stars {
  display: flex;
  justify-content: space-around;
  width: 90px;
  color: #F8EA4D;
  margin-bottom: 5px;
}

.home-story {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 65%;
  height: auto;
  border-radius: 10px;
  background-color: $mainFontColor;
  margin-bottom: 40px;
  text-align: left;
  padding: 20px 30px;
}

.home-story h3 {
  margin-top: 10px;
}

.home-header-navbar li {
  color: white;
}

@media (max-width: 500px) {
  .home-story {
    width: 90%;
  }
  .home-reviews {
    width: 90%;
  }
}

