.Home {
  margin: 0;
}

.header-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 75px;
  background-color: #383838;
  color: white;
  margin-bottom: 20px;
}

.header-home-logo {
  margin: 0 40px;
  font-size: 20px;
  color: #F8E055;
}

.header-logo {
  position: absolute;
  left: calc(50% - 80px);
  font-size: 20px;
  color: #F8E055;
}

.header-home-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  margin-bottom: -10px;
}

.header-navbar {
  visibility: hidden;
}

.header-ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin-right: 20px;
  width: 100%;
}

.header-li {
  font-size: 16px;
  padding-right: 14px;
  padding-left: 14px;
  color: white;
}
