.Header {
  width: 100%;
}

.header-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  color: white;
  margin-bottom: 40px;
}

.header-home-logo {
  margin-left: 80px;
}
.header-home-logo img{
  width: 200px;
  margin-top: 25px;
}

.header-logo {
  position: absolute;
  left: calc(50% - 80px);
}

.header-home-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  margin-bottom: -10px;
}

.header-navbar {
  visibility: hidden;
}

.header-ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin-right: 30px;
  margin-top: 30px;
  width: 100%;
}

.header-li {
  font-size: 16px;
  padding: 5px 14px;
  color: #193B67;
  font-weight: 700;
  font-size: 16px;
}

.header-li:hover {
  color: white;
  font-weight: 600;
  background-color: #193B67;
  border-radius: 3px;
}
