@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.App {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #193B67;
  letter-spacing: .7px;
  font-weight: 500;
  width: 100vw;
  height: 100vh;
}


html span {
  font-size: 14px;
}

html .Title-title-105{
  font-size: 16px;
}

html .MuiTableCell-body-47 {
  font-size: 14px;
}

html .TableCell-cell-156 {
  overflow: auto;
}

html .TableCell-cellNoWrap-160 {
  white-space: normal;
}

html .TableCell-cell-156 {
  text-overflow: inherit;
}

html .Table-table-30 {
  width: auto;
}

html .MuiInputBase-input-152 .MuiInput-input-137 {
  font-size: 16px;
}

html .MuiInput-input-137 {
  font-size: 14px;
}

