@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$mainWhite: #ffffff;
$mainBlue: #26466F;
$hoverBlue: #1c7dcc;
$mainGrey: #383838;
$secondGrey: #4d4d4d;
$mainYellow: #F7E422;

$headerFontSize: 30px;
$tableFontSize: 14px;
$tblHdrFontSize: 16px;

$mainFont: 'Segoe UI', Tahoma, sans-serif;


