@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$mainWhite: #ffffff;
$mainBlue: #26466F;
$hoverBlue: #1c7dcc;
$mainGrey: #383838;
$mainYellow: #F7E422;

$headerFontSize: 24px;

